@import 'tailwindcss';

@theme {
  --font-sora: 'Sora', 'sans-serif';

  --color-neutral-900: hsl(0, 0%, 7%);
  --color-neutral-800: hsl(0, 0%, 15%);
  --color-neutral-500: hsl(240, 3%, 46%);
  --color-neutral-400: hsl(240, 1%, 59%);
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-blue-600: hsl(214, 100%, 55%);
  --color-blue-400: hsl(210, 100%, 65%);
  --color-red-500: hsl(354, 63%, 57%);
  --color-green-500: hsl(140, 63%, 57%);
  --color-yellow-400: hsl(49, 85%, 70%);
}

@layer base {
  @font-face {
    font-family: 'Sora';
    src:
      url('./assets/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype-variations'),
      url('./assets/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: var(--font-sora);
    min-height: 100dvh;
    width: 100%;
    @apply bg-neutral-900 antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

@layer components {
  .btn {
    @apply leading-none text-xl py-4 px-6 font-semibold rounded-xl tracking-normal focus:outline-2 outline-offset-2 transition-all cursor-pointer;

    &.variant-select {
      @apply text-base font-normal px-2.5 py-1.5 rounded-lg border text-neutral-0 border-neutral-500 outline-blue-400;

      &.active,
      &:hover {
        @apply text-blue-400 border-blue-400;
      }
    }

    &.variant-primary {
      @apply text-neutral-0 bg-blue-600 hover:bg-blue-400 focus:outline-blue-400;
    }

    &.variant-secondary {
      @apply text-neutral-900 bg-neutral-0 hover:opacity-90 focus:outline-blue-400;
    }

    &.variant-secondary-dark {
      @apply p-4 text-neutral-0 bg-neutral-800 hover:opacity-90 focus:outline-blue-400;
    }
  }
}
